<div class="page-inner">
    <h1 class="mb-4">Create New Sale</h1>
    <form onsubmit="createSale(event)">
        <div class="form-group mb-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group mb-3">
            <label for="start-date">Start Date</label>
            <input type="date" class="form-control" id="start-date" name="start-date" required>
        </div>
        <div class="form-group mb-3">
            <label for="end-date">End Date</label>
            <input type="date" class="form-control" id="end-date" name="end-date" required>
        </div>
        <div class="form-group mb-3">
            <label for="discount">Discount</label>
            <input type="number" class="form-control" id="discount" name="discount" required>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    <div id="error" class="error-message text-danger mt-2"></div>
    <div id="success" class="success-message text-success mt-2"></div>
</div>
<script>
    window.onload = function () {
        const token = localStorage.getItem("accessToken");
        if (token) {
            const userRole = getRoleFromToken(token);
            redirectUserByRole(userRole);
        }
    };
    function getRoleFromToken(token) {
        const base64Url = token.split(".")[1];
        const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
        const jsonPayload = decodeURIComponent(
            atob(base64)
                .split("")
                .map(function (c) {
                    return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
                })
                .join("")
        );
        const decodedToken = JSON.parse(jsonPayload);

        return decodedToken.sub.role;
    }
    async function createSale(event) {
        event.preventDefault();

        const name = document.getElementById("name").value;
        const startDate = document.getElementById("start-date").value;
        const endDate = document.getElementById("end-date").value;
        const discount = document.getElementById("discount").value;

        // Validate dates
        if (new Date(startDate) >= new Date(endDate)) {
                document.getElementById("error").textContent = "Start date must be before end date.";
                return;
            }

        // Validate discount
        if (discount <= 0 || discount >= 100) {
            document.getElementById("error").textContent = "Discount must be between 0 and 100.";
            return;
        }
        try {
            const response = await fetch("http://127.0.0.1:3000/api/sales", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `Bearer ${localStorage.getItem("accessToken")}`,
                },
                body: JSON.stringify({
                    name: document.getElementById("name").value,
                    startDate: document.getElementById("start-date").value,
                    endDate: document.getElementById("end-date").value,
                    discount: document.getElementById("discount").value,
                }),
            })
            const result = await response.json();
            if (response.status === 201) {
                document.getElementById("success").textContent = "Sale created successfully.";
                window.location.href = `/sale/view-all`;
            } else {
                document.getElementById("error").textContent = result.message;
            }
        } catch (error) {
            document.getElementById("error").textContent =
                "An unexpected error occurred.";
        }
    }    
</script>