<button type="button" class="btn btn-info view-table-button" data-table="<%= data.tableNumber %>"
    data-status="<%= data.status %>" %>'>
    <h4>
       Table <%= data.tableNumber %>
    </h4>
    <div class="table-status fw-bold">(<%= data.status %>)</div>
</button>
